* {
    /*border: 1px solid;*/
    
}

body {
    margin: 0px;
    font-style: light italic;
    color: blueviolet;
    
}
    

.conteiner1 {
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    padding-left: 200px;
    padding-right: 200px;
    width: auto;
    height: auto;
    }

.header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: baseline;
    /* Ver tema alinear al segmento hero*/

}

.header1 {
    display: flex;
    /* Alinear al header2 */

}

.header2 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    /* quitar formato y color a los links*/
    gap: 5px;

}

.hero {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 100px;
    gap: 100px;
}

#heromaintext {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;

}

.hero1a {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    gap: 5px;
}

.hero1b {
    background-color: grey;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 30px 30px 30px 30px;
    width: 500px;
    height: 200px;
}

#maincat {
    width: 500px;
    height: 200px;
    border: none;
}

.conteiner2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    height: auto;
    width: auto;
}

.conteiner2x4 {
    display: flex;
    justify-content: space-between;
    border: 1px black;
    gap: 5px;
}

 img {
    width: 350px;
    height: 350px;
    border: 1px solid black;
    /* Tengo que ajustar el texto debajo*/
}


