* {
    /*border: 1px solid;*/
    
}

body {
    margin: 0px;
    font-style: light italic;
}
    

.conteiner1 {
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    padding-left: 200px;
    padding-right: 200px;
    width: auto;
    height: 600px;
    }

.header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: baseline;
    /* Ver tema alinear al segmento hero*/

}

.header1 {
    display: flex;
    /* Alinear al header2 */

}

.header2 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    /* quitar formato y color a los links*/
    gap: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 100px;
    gap: 100px;
}

#heromaintext {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;

}

.hero1a {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    gap: 5px;
}

.hero1b {
    background-color: grey;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 30px 30px 30px 30px;
    width: 500px;
    height: 200px;
}

#maincat {
    width: 500px;
    height: 200px;
    border: none;
}

.conteiner2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    height: 500px;
    width: auto;
}

h3 {
    font-size: 25px;
}

.conteiner2x4 {
    display: flex;
    justify-content: space-between;
    border: 1px black;
    gap: 5px;
}

 img {
    width: 350px;
    height: 350px;
    border: 1px solid black;
    /* Tengo que ajustar el texto debajo
    redondear los bordes*/
}

.conteiner3 {
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgba(114, 114, 114, 0.842);
    width: auto;
    height: 400px;align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
} 

.conteiner3-1 {
    align-content: center;
    justify-content: center;
    /*mirar aca por que no funciona y acomodar*/
    font-size: 20px;
    color: #1f2937;
}

.conteiner3-2 {
    align-content: flex-end;
    justify-content: center;
    /*mirar por que aca no funciona esto o como hacerlo*/
    color: #1f2937;
}

.conteiner4 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 300px;
    width: 100%;   
}

.conteiner4-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #3882f6;
    border-radius: 15px;
    padding-left: 20%;
    padding-right: 20%;
    height: 150px;
    gap: 100px;
}

.conteiner4-1b {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /*height:auto;*/
    color: white;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

h4 {
    font-size: 15px;
}

.signup {
    border-radius: 15px;
    box-sizing: border-box;
    height: auto;
    width: auto;
    padding: 10px 15px 10px 15px;
    background-color: #3882f6;
    border: 2px solid;
    border-color: white;
    color: white;

}

p {
    font-size: 25px;
}
    
.footer {
    display: flex;
    box-sizing: border-box;
    height: 100px;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    color: white;

}

/*Terminar y retocar todo*/